.navbar  li{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: black;
    text-transform:capitalize;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#be0f0f;
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -10px;
    transition: 0.4s;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.navbar i{
    margin-right: 9px;
}
.main{
    margin-top: 30px;
    
}
.items{
    display: flex;
    justify-content: space-between;
}
.items i{
    margin-right: 9px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.req{
    margin-left: 55px;
}
.vis{
    display: flex;
    flex-direction: row-reverse;
}

input[type=checkbox] {
    accent-color: red;
  }
.vis input{
    margin-bottom: 10px;
    margin-right: 5px;
}
.arrow{
    display: flex;
    flex-direction: row-reverse;
}
p{
    font-size:14px;
}
.isflex{
    display: flex;
    
}
.isflex input{
    margin-bottom: 20px;
    margin-right: 5px;
}
.col{
 margin-right: 30px;
}
.isflex i{
    margin-top: 2px;
    margin-right: 9px;
}
.b button{
    margin-right: 10px;
    border: 2px solid;
    border-radius: 3px;
}
.col-2 button{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
       
}
.col-2 i{
    margin-top: 2px;
}
.inven{
    display: flex;
    justify-content: space-between;
}



