.navbar  li{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    display: inline-block;

    
}
.navbar a{
    text-decoration: none;
    color: black;
    text-transform:capitalize;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#be0f0f;
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -10px;
    transition: 0.4s;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;

}
.items{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
}
.req{
    margin-left: 55px;
}
.vis{
    display: flex;
    flex-direction: row-reverse;
}

input[type=checkbox] {
    accent-color: red;
  }
.vis input{
    margin-bottom: 10px;
    margin-right: 5px;
}
.arrow{
    display: flex;
    flex-direction: row-reverse;
}
p{
    font-size:14px;
}
.isflex{
    display: flex;
    
}
.isflex input{
    margin-bottom: 20px;
    margin-right: 5px;
}
.col{
 margin-right: 30px;
}